.navContainer {
  border: solid 2px red;
  display: flex;
  background: black;
  align-items: center;
}
.navContainer .navBar {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: 0% 1% 0% 20%;
}
.navContainer .navBar a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
.navContainer h1 {
  color: white;
}
.navContainer .icons {
  width: 9%;
}
.navContainer .icons i {
  padding: 1%;
}
.header-img {
  width: 100%;
}
.header-img img {
  width: 99.9%;
  height: 100vh;
}
