.navContainer {
  display: flex;
  background: black;
  align-items: center;
  height: 14vh;
}
.navContainer .navBar {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: 0% 1% 0% 20%;
}
.navContainer .navBar a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.navContainer .navBar .home {
  width: 30%;
  text-align: center;
  padding: 4.6%;
}
.navContainer .navBar .home:hover {
  background: red;
  color: black;
}
.navContainer .navBar .aboutUs {
  width: 30%;
  text-align: center;
  padding: 4.6%;
}
.navContainer .navBar .aboutUs:hover {
  background: red;
  color: black;
}
.navContainer .navBar .services {
  width: 30%;
  text-align: center;
  padding: 4.6%;
}
.navContainer .navBar .services:hover {
  background: red;
  color: black;
}
.navContainer .navBar .sautiNews {
  width: 30%;
  text-align: center;
  padding: 4.6%;
}
.navContainer .navBar .sautiNews:hover {
  background: red;
  color: black;
}
.navContainer .navBar .contact {
  width: 30%;
  text-align: center;
  padding: 4.6%;
}
.navContainer .navBar .contact:hover {
  background: red;
  color: black;
}
.navContainer h1 {
  color: white;
  font-size: 2.6em;
  padding: 2%;
}
.navContainer .icons {
  width: 9%;
}
.navContainer .icons i {
  padding: 1%;
}
.header-img-text {
  position: relative;
  text-align: center;
  color: white;
}
.header-img-text img {
  width: 100%;
}
.header-img-text .textonpic {
  background: rgba(27, 20, 17, 0.8);
  padding: 3%;
  border-radius: 5px;
  color: white;
  width: 40%;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-img-text .textonpic .btnContainer {
  width: 97%;
  padding: 2%;
  justify-content: space-around;
  display: flex;
}
.header-img-text .textonpic .btnContainer button {
  background: #ffb300;
  width: 45%;
  padding: 1.8%;
  text-align: center;
  color: black;
  margin-top: 5%;
}
.header-img-text .textonpic h2 {
  font-size: 2em;
  margin: 2%;
}
.header-img-text .textonpic p {
  font-size: 1em;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
