.navContainer {
  display: flex;
  background: black;
  align-items: center;
  height: 16vh;
  font-family: 'Gayathri', sans-serif;
}
.navContainer .navBar {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: 0% 1% 0% 20%;
}
.navContainer .navBar a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: 'Gayathri', sans-serif;
}
.navContainer .navBar .home {
  width: 30%;
  text-align: center;
  padding: 5.3%;
}
.navContainer .navBar .home:hover {
  background: #bc0000;
  color: black;
}
.navContainer .navBar .aboutUs {
  width: 30%;
  text-align: center;
  padding: 5.3%;
  font-size: 1rem;
}
.navContainer .navBar .aboutUs:hover {
  background: #bc0000;
  color: black;
}
.navContainer .navBar .services {
  width: 30%;
  text-align: center;
  padding: 5.3%;
}
.navContainer .navBar .services:hover {
  background: #bc0000;
  color: black;
}
.navContainer .navBar .sautiNews {
  width: 35%;
  text-align: center;
  padding: 5.3%;
}
.navContainer .navBar .sautiNews:hover {
  background: #bc0000;
  color: black;
}
.navContainer .navBar .contact {
  width: 35%;
  text-align: center;
  padding: 5.3%;
}
.navContainer .navBar .contact:hover {
  background: #bc0000;
  color: black;
}
.navContainer h1 {
  color: white;
  font-size: 2.6em;
  padding: 2%;
  display: flex;
  width: 100%;
  margin-left: 30%;
  margin-top: 10%;
}
.navContainer h1 span {
  color: #bc0000;
}
.navContainer .icons {
  width: 9%;
}
.navContainer .icons i {
  padding: 1%;
}
.header-img-text {
  position: relative;
  text-align: center;
  color: white;
}
.header-img-text img {
  width: 100%;
  border: solid 2px black;
}
.header-img-text .textonpic {
  background: rgba(27, 20, 17, 0.8);
  padding: 3%;
  border-radius: 5px;
  color: white;
  width: 40%;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Gayathri', sans-serif;
}
.header-img-text .textonpic .btnContainer {
  width: 97%;
  padding: 2%;
  justify-content: space-around;
  display: flex;
}
.header-img-text .textonpic .btnContainer button {
  background: #ffb20f;
  width: 45%;
  padding: 1.8%;
  border: solid 1px #ffb20f;
  border-radius: 5px;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  color: black;
  margin-top: 5%;
}
.header-img-text .textonpic h2 {
  font-size: 2em;
  margin: 2%;
}
.header-img-text .textonpic p {
  font-size: 1em;
}
@media (max-width: 1000px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    align-items: center;
    width: 100%;
    padding: 0%;
  }
  .navContainer .navBar {
    width: 100%;
    margin-right: 20%;
    padding: 0%;
    margin: 0%;
  }
  .navContainer .navBar a {
    padding: 0%;
    width: 100%;
  }
  .navContainer .home {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #bc0000;
  }
  .navContainer .home:hover {
    background: #bc0000;
    color: black;
    text-decoration: underline;
  }
  .navContainer .aboutUs {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #bc0000;
  }
  .navContainer .aboutUs:hover {
    background: #bc0000;
    color: black;
    text-decoration: underline;
  }
  .navContainer .services {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #bc0000;
  }
  .navContainer .services:hover {
    background: #bc0000;
    color: black;
    text-decoration: underline;
  }
  .navContainer .sautiNews {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #bc0000;
  }
  .navContainer .sautiNews:hover {
    background: #bc0000;
    color: black;
    text-decoration: underline;
  }
  .navContainer .contact {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #bc0000;
  }
  .navContainer .contact:hover {
    background: #bc0000;
    color: black;
    text-decoration: underline;
  }
  .navContainer .h1Container {
    border: none;
    margin-right: 11.5%;
  }
  .navContainer .h1Container h1 {
    padding: 15%;
    width: 90%;
    display: flex;
    flex-direction: row;
  }
  .navContainer .icons {
    display: none;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #bc0000;
}
body .introContainer {
  background: #bc0000;
  color: white;
  text-align: center;
  padding: 5%;
  font-size: 1.7em;
  font-family: 'Gayathri', sans-serif;
}
body .videoContainer {
  padding: 5%;
  background: #bc0000;
  display: flex;
  justify-content: space-around;
  color: white;
}
body .videoContainer .One {
  display: flex;
  flex-direction: column;
  border: solid 2px #ffb20f;
  border-radius: 5px;
  background: radial-gradient(#bc0000, #ffb20f);
}
body .videoContainer .One h3 {
  padding: 5%;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Gayathri', sans-serif;
}
body .videoContainer .Two {
  display: flex;
  flex-direction: column;
  border: solid 2px #ffb20f;
  border-radius: 5px;
  background: radial-gradient(#bc0000, #ffb20f);
}
body .videoContainer .Two h3 {
  padding: 5%;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Gayathri', sans-serif;
}
hr {
  margin: 0% 10%;
  color: white;
}
.newsLetter {
  border: solid 2px green;
  display: flex;
  flex-direction: column;
}
.newsLetter h3 {
  padding: 2%;
  text-align: center;
}
.newsLetter .form {
  border: solid 2px yellow;
  padding: 2%;
}
.newsLetter .form .emailSignUpBox {
  display: flex;
  justify-content: center;
}
