.introContainer{

    .introPar{
        border: solid 2px green;
    }//closes introPar

    .aboutContainer{
        border: solid 2px blue;

        .projectLeadBox{
            border: solid 2px yellow;
            display: flex;
            

            h3{
            border: solid 2px red;
            width:100%;
            padding: 4%;

            }//closes h3
        }//projectLeadbox

        .uxDesignBox{
            border: solid 2px yellow;
            display: flex;
            

            h3{
            border: solid 2px red;
            width:100%;
            padding: 4%;

            }
        }

    }//closes aboutContainer


}//closes introContainer