body {
    background: #bc0000;
    overflow-x: hidden;

   

    .introContainer {
        background : #bc0000;
        color      : white;
        text-align : center;
        padding    : 5%;
        font-size  : 1.7em;
        font-family: 'Gayathri', sans-serif;


        @media @desktop{
            .introContainer {
                border: solid 2px blue;

            }

            //closes introContainer


        }
    }

        //closes introContainer


        .videoContainer {
            padding        : 5%;
            background     : #bc0000;
            display        : flex;
            justify-content: space-around;
            color          : white;
            font-size      : 20px;

            .One {
                .videoStyling();

                h3 {
                    .h3Styling();

                }

                //closes h3
            }

            //closes one

            .Two {
                .videoStyling();


                h3 {
                    .h3Styling();
                }

                //closes h3
            }

            // closes two
        }

        //closes videoCotainer
    }

    //closes body

    hr {
        margin: 0% 10%;
        color : white;
    }
///////////

@media only screen and (max-width: 1245px){
    html{
        width: 100%;
        overflow-x: hidden;
        

    

    body{
        background: #bc0000;
        margin: 0, auto;
      
    
    .videoContainer{
        display: flex;
        flex-direction: column;


        .One{
            width: 100%;
            margin-bottom: 3%;

            h3{
                width: 100%;

            }

            iframe{
                width: 100%;
                height: 50vh;
            }//closes iframe
        }//closes One

        .Two{
            width: 100%;

            iframe{
                width: 100%;
                height: 50vh;
            }
        }

    }//closes videoContainer
}
}
}//closes media1000px

/////////////////////////////
////////////////////////////
////////////////////////////
