.navContainer{
    display: flex;
    background: black;
    align-items: center;
    height: 16vh;
    font-family: 'Gayathri', sans-serif;

    .navBar{
       
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        margin: 0% 1% 0% 20%;

        a{
            text-decoration: none;
            color: white;
            font-size: 1em;
            font-family: 'Gayathri', sans-serif;
        }//closes a

        .home{
            width: 30%;
            text-align: center;
            padding: 5.3%;

            &:hover{
                background: #bc0000;
                color: black;
            }//closes hover
        }//closes home link

        .aboutUs{
            width: 30%;
            text-align: center;
            padding: 5.3%;
            font-size: 1rem;


            &:hover{
                background: #bc0000;
                color: black;
            }//closes hover
        }//closes aboutUs link

        .services{
            width: 30%;
            text-align: center;
            padding: 5.3%;


            &:hover{
                background: #bc0000;
                color: black;
            }//closes ver
        }//closes services link

        .sautiNews{
            width: 35%;
            text-align: center;
            padding: 5.3%;


            &:hover{
                background: #bc0000;
                color: black;
            }//closes hover
        }//closes sautiNews

        .contact{
            width: 35%;
            text-align: center;
            padding: 5.3%;


            &:hover{
                background: #bc0000;
                color: black;
            }//closes hover
        }//closes contact link
    }//closes navBar

    h1{
        color: white;
        font-size: 2.6em;
        padding: 2%;
        display: flex;
        width: 100%;
        margin-left: 30%;
        margin-top: 10%;

        span{
            color: #bc0000;
        }//closes span
    }//closes h1
    
    .icons{
        width: 9%;

        i{
            padding: 1%;
        }//closes i
    }//closes icons



}//closes navContainer

.header-img-text{
    position: relative;
    text-align: center;
    color: white;


    img{
        width: 100%;
        border: solid 2px black;

    }//closes img

    .textonpic{
        background: rgba(27, 20, 17, 0.8);
        padding: 3%;
        border-radius: 5px;
        color: white;
        width: 40%;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'Gayathri', sans-serif;

        .btnContainer{
            width: 97%;
            padding: 2%;
            justify-content: space-around;
            display: flex;

            button{
                background: #ffb20f;
                width: 45%;
                padding: 1.8%;
                border: solid 1px #ffb20f;
                border-radius: 5px;
                text-align: center;
                font-family: 'Gayathri', sans-serif;
                color: black;
                margin-top: 5%;
               }//closes button
            }//close btnContainer

            h2{
                font-size: 2em;
                margin: 2%;
            }//closes h2

            p{
                font-size: 1em;
            }//closes p
    }//closes textonpic
}//closes header-img-text

//media queries

@media(max-width: 1000px){
    .navContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 25vh;
        align-items: center;
        width: 100%;
        padding: 0%;

        .navBar{
            width: 100%;
            margin-right: 20%;
            padding: 0%;
            margin: 0%;

            a{
                padding: 0%;
                width: 100%;
            }
        }//closes .navbar 1000px

        .home{
            text-align: center;
            text-decoration: underline;
            text-decoration-color: #bc0000;


            &:hover{
                background: #bc0000;
                color: black;
                text-decoration: underline;

            }//closes hover
        }//closes home link

        .aboutUs{
            text-align: center;
            text-decoration: underline;
            text-decoration-color: #bc0000;

            &:hover{
                background: #bc0000;
                color: black;
                text-decoration: underline;

            }//closes hover
        }//closes aboutUs link

        .services{
            text-align: center;
            text-decoration: underline;
            text-decoration-color: #bc0000;

            &:hover{
                background: #bc0000;
                color: black;
                text-decoration: underline;

            }//closes ver
        }//closes services link

        .sautiNews{

            text-align: center;
            text-decoration: underline;
            text-decoration-color: #bc0000;


            &:hover{
                background: #bc0000;
                color: black;
                text-decoration: underline;

            }//closes hover
        }//closes sautiNews

        .contact{
            text-align: center;
            text-decoration: underline;
            text-decoration-color: #bc0000;


            &:hover{
                background: #bc0000;
                color: black;
                text-decoration: underline;
            }//closes hover
        }//closes contact link

        .h1Container{
            border: none;
            margin-right: 11.5%;
        h1{
            padding: 15%;
            width: 90%;
            display: flex;
            flex-direction: row;
           

        }//closes h1
    }

        .icons{
          display: none;
        }
    }//closes navConatiner 1000px
}//closes media 1000px
